<h3>Comments</h3>
<% @article.comments.each do |comment| %>
    <div class="container" style="background-color:lightgrey">
        <p> <strong> <%= comment.username %> </strong> <%= comment.body %></p>
        <%= link_to '[X]', [comment.article, comment],
                                        method: :delete,
                                        data: { confirm: 'Are you sure?' } %></p>
    </div>
<% end %>

